---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
import Nav from "../components/Nav.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((b: any, a: any) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .filter((post: any) => !post.data.draft);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header>
      <Nav />
    </Header>
    <main>
      <p>
        <b>Who am I?</b> Doesn’t matter right now — maybe later.
      </p>
      <p>
        What matters is this: if you're into low-level stuff like C, assembly,
        reverse engineering, breaking binaries, or just figuring out how things
        work under the hood... you might enjoy this blog.
      </p>
      <p>
        I'm not an expert. I'm just learning — and sharing what I learn as I go.
        That’s it.
      </p>
      <p>
        That’s all. No social links, no contact form. Just the blog. If you’re
        curious, read on.
      </p>
    </main>

    <div>
      <h2>You might like these posts:</h2>
      <ul class="blog-posts">
        {
          posts.map((post: any) => (
            <li data-title={post.data.title.toLowerCase()}>
              <span>
                <i>
                  <FormattedDate date={post.data.pubDate} />
                </i>
              </span>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
