---
import { getCollection } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Header from '@/components/Header.astro';
import Nav from '@/components/Nav.astro';
import { SITE_DESCRIPTION } from '@/consts';

const posts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header>
      <Nav />
    </Header>
    <ul class="blog-posts">
      {
        posts.map((post) => (
          <li data-title={post.data.title.toLowerCase()}>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    </main>
  </body>
</html>

<style>
  main {
    padding-bottom: 4rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    display: flex;
    gap: 1em;
  }

  ul li a:visited {
    color: var(--visited-color);
  }
</style>