---
import '@fontsource-variable/inter'; // Inter Variable
import '@fontsource-variable/nunito'; // Nunito Variable

interface Props {
    title: string;
    description: string;
    ogId?: string;
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={Astro.props.description} />
        <title>{Astro.props.title}</title>
        <link rel="preconnect" href="/" crossorigin />
        <link rel="preload" href="/profile.png" as="image" />
        <link rel="icon" href="/profile.png" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Dishan"
            href={`${Astro.site}rss.xml`}
        />

        <!-- OpenGraph tags -->
        <meta name="og:title" content={Astro.props.title} />
        <meta property="og:title" content={Astro.props.title} />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en" />
        <meta property="og:description" content={Astro.props.description} />
        <meta property="og:site_name" content="Dishan Sachin" />
        <meta property="og:url" content="https://dishansachin.vercel.app" />
        <!-- <meta property="og:image" content="PATHTOTHEIMAGE" /> -->

        <!-- Twitter tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@skdishansachin" />
        <meta name="twitter:title" content={Astro.props.title} />
        <meta name="twitter:description" content={Astro.props.description} />
    </head>
    <body class="mx-auto max-w-3xl bg-white px-4 antialiased dark:bg-[#1a1a1a]">
        <slot />
    </body>
</html>
