---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Nav from "../components/Nav.astro";
import { SITE_URL } from "../consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header>
      <Nav />
    </Header>
    <main>
      <h1 class="blog-title">{title}</h1>
      <FormattedDate date={pubDate} />
      <slot />
      {
        tags && (
          <div>
            {tags.sort().map((tag: string) => (
              <a class="tag" href={`/tags/${tag}/`}>
                #{tag}
              </a>
            ))}
          </div>
        )
      }
    </main>
  </body>
</html>
