---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Header from '@/components/Header.astro';
import Nav from '@/components/Nav.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Nav />
    <main>
      <h1>{title}</h1>
      <FormattedDate date={pubDate} />
      <slot />
      {
        tags && (
          <div>
            {tags.sort().map((tag: string) => (
              <a href={`/tags/${tag}`} class="tag">#{tag}</a>
            ))}
          </div>
        )
      }
    </main>
  </body>
</html>

<style>
  h1 {
    font-size: 1.5rem;
  }

  .tag {
    padding-right: 1rem;
  }
</style>
